@page "/"

<PageTitle>Grow</PageTitle>

<div class="home-container">
    <img src="images/GrowPurple.png" alt="Grow App Icon" class="app-icon" />
    <h1 class="tagline">All your numbers. <br />One place to grow.</h1>
</div>

<style>
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 91vh;
        text-align: center;
        background-color: #f5f5f5;
        padding: 2rem;
        border-radius: 15px;
    }

    .app-icon {
        width: 350px;
        height: 350px;
        margin-bottom: 1.5rem;
    }

    .tagline {
        font-size: 2.8rem;
        font-weight: 500;
        color: #4b0082; /* deep purple */
    }
</style>
